*{
    margin: 0;
    padding: 0;
    font-family: "gilroy";
}
body{
    text-align: center;
    background-image: url(https://t4.ftcdn.net/jpg/03/59/55/79/360_F_359557922_GPydLSSfjdlK4oEGn1ScOsMLFoEDecTl.jpg);
}
#board{
    background-color: black;
    border-top: 5px solid skyblue;
    border-left: 5px solid skyblue;
    border-right: 5px solid skyblue;
    margin-top: 1vh;
}
h3{
    color: aquamarine;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.score{
    top: 20px;
    left: 20px;
}